body {
    background-image: url("https://static.basicinvite.com/media/bi/36985/little-dachshund-wallpaper-2x.jpg?q=1743785245");
    background-size: cover;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100vw;
    text-transform: uppercase;
    color: #676760;
    margin: 10px 0;
}
#container {
    background: #dddddd;
    width: 400px;
    margin: auto;
    padding: 20px 0px;
    border-radius: 20px;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bolder;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 20px;
}

#increment-btn {
    background: turquoise;
}

#save-btn {
    background: teal;
}

