body {
    background-image: url("https://static.basicinvite.com/media/bi/36985/little-dachshund-wallpaper-2x.jpg?q=1743785245");
    background-size: contain;
    font-family: "Poppins";
    font-weight: 500;
    text-align: center;
    max-width: 100vw;
    text-transform: uppercase;
    color: #33716e;
    margin: 5px 0;
    font-size: 26px;
}
#container {
    background: #38cfc3e8;
    width: 475px;
    margin: 100px auto;
    padding: 20px 0px;
    border-radius: 0 70px;
    height: 475px;
}
h1 {
    margin-top: 10px;
    font-weight: 550;
    margin-bottom: 10px;
    font-size: 55px;
    color: #23716e;
    line-height: 1;
    text-shadow: 0px 0px 10px white;
}

h2 {
    font-size: 100px;
    margin-top: 23px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1;
}

button {
    
    border: 4px solid #33716e;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #33716e;
    font-weight: 500;
    font-size: 30px;
    width: 275px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: transparent;
}

#increment-btn {
    
}

#save-btn {
    
}



